html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
    background-image: linear-gradient(to bottom, #d16ba5, #ee758d, #f98b75, #f5a664, #e4c364, #d1d36f, #bbe284, #a2ef9f, #8ef3b3, #7bf7c8, #6af9dd, #5ffbf1);

    /* background-attachment: fixed; */
    font-family: 'Trebuchet MS', sans-serif;

}

/* Header */

.header {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;


}

.header-logo img {
    margin: 15px;
    max-height: 70px;
}

.nav_bar {
    margin: 50px;
    font-weight: bold;
}

ul>li {
    display: inline-block;
    list-style: none;
}

/* Best Movie */
.best {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 30px;
    margin: auto;
    padding: 20px;
    width: 50%;
    box-shadow: rgba(141, 0, 235, 0.466) 0px 20px 30px -10px;
}

.best-movie {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.best-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

}

.best-movie-title {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 6px rgba(1, 61, 21, 0.205);
}

.best-movie-description {
    color: rgb(70, 70, 70);
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.281);
}

.best-modalBtn {
    background-color: #fff;
    margin: 4px;
    padding: 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.best-modalBtn:hover {
    transform: scale(1.1);
    color: #ffffff;
    background-color: rgb(255, 91, 233);
}

.best-cover img {
    max-height: 100%;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    float: right;

}

/* Categories */
.categories {
    display: flex;
    flex-direction: column;
    top: 80px;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.category {
    /* min-width: 40%; */
    margin-top: 50px;
    position: relative;
    width: 100%;
}

.content-container {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

h2 {
    color: rgb(255, 255, 255);
    text-shadow: rgb(115, 0, 150) 2px 2px 2px;
}

.content {
    /* display: flex;
    flex-direction: row; */
    margin-left: 0px;
    transition: margin .2s ease-in-out;


}

.btn-next,
.btn-prev {
    display: inline-block;
    vertical-align: bottom;
    bottom: 0px;
    color: #fff;
    width: 50px;
    padding: 0px;
    opacity: .7;
    font-size: 100px;
    position: absolute;
}

.btn-next {
    right: -70px;
}

.btn-prev {
    left: -50px;
}

.symbol {
    transform: translateY(50%);
}

.film-article {
    height: 400px;
    margin: auto;
    display: inline-block;
}

.img-article {
    height: auto;
    max-height: 265px;
    background-color: rgba(255, 255, 255, 0.123);
    transition: all .2s ease-in-out;
}

.content:hover .img-article {
    transform: scale(.8);
    opacity: .6;
}

.content .img-article:hover {
    transform: scale(1);
    transition: all .2s ease-in-out;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px;
}

img {
    height: auto;
    border-radius: 15px;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    /* z-index: 10; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    min-height: 300px;
    min-width: 60%;
    max-width: 70%;
    margin: auto;
    border-radius: 20px 0px 20px 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    background-color: rgb(24, 12, 27);
    color: #fff;
}

.modal-text {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 5%;
    margin: 10px;
}

.modal-cover img {
    float: right;
    margin-right: 20px;
    border-radius: 20px;
}

.movie-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.movie-info h3 {
    color: #ffffff;
    font-size: 2rem;
}

.movie-info span {
    color: #6af9dc6b;
    border: #6af9dc36 solid .1em;
    border-radius: .3em;
    font-size: .8rem;
}

.year-dir {
    color: #47a895;
}

.score-genres {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: .8rem;
}

#movie-imdb {
    color: #6af9dc6b;
    border: #6af9dc36 solid .1em;
    border-radius: .3em;
}

.info-actors-movie {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-actors-movie #movie-actors {
    line-height: 1rem;
    color: #47a895;
}

.close-btn {
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    transform: translate(18px, -36px);
    font-size: 4rem;
}

.info-text>div {
    margin: 10px 0;

}

.modalBtn {
    color: #aaa;
    float: right;
    font-size: 3em;
    font-weight: bold;
}

.symbol:hover,
.symbol:focus {
    color: rgb(255, 18, 168);
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .best {
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        justify-items: center;
    }

    .best-cover img {
        margin-bottom: 20px;
        height: 100%;
    }
}

@media screen and (max-width: 950px) {
    .best {
        width: 80%;
    }

    .modal-content {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        justify-items: center;
    }

    .modal-text {
        display: grid;
        grid-template-rows: 1fr 2fr;
        gap: 5%;
        margin-top: 30px;
    }

    .modal-cover img {
        margin: 10px;
    }
}